* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(43,43,43);
  display: grid;
  grid-template: 
    'header header header' 60px
    'side-thing main side-thing2' auto /
    80px 1fr 80px;
}
.header {
  grid-area: header;
  background-color: red;
}
.side-thing {
  grid-area: side-thing;
  background-color: green;
}
.side-thing2 {
  grid-area: side-thing2;
  background-color: green;
}

.main {
  grid-area:main;
  background-color: magenta;
  display: grid;
  grid-template:
    "main_popup" 40px
    "main_content" 1fr /
    auto;
}
.main_popup{
  background-color: rgb(30,30,30);
}
.main_content{
  background-color: yellow;
  padding: 40px 100px;
  display: grid;
  grid-template: 
    "main_content_actual-content main_content_tooltip" 1fr/
    1fr 300px; 
    /* up to 300px for tooltip */
    /* google min-max you moop */
}

.main_content_actual-content{
  background-color: purple;
  grid-area: main_content_actual-content;
}

.main_content_tooltip{
  background-color: aquamarine;
  grid-area: main_content_tooltip;
}