* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: red;
  display: grid;
  grid-template: 
    'header header header' 60px
    'side-thing main side-thing2' auto /
    80px 1fr 80px;
}
.header {
  grid-area: header;
  background-color: white;
}

/* FIXME: find a DRY method of using this */
.side-thing {
  grid-area: side-thing;
  background-color: rgb(70,70,70);
}
.side-thing2 {
  grid-area: side-thing2;
  background-color: rgb(70,70,70);
}

.main {
  grid-area:main;
  /* background-color: magenta; */
  display: grid;
  grid-template:
    "main_popup" 40px
    "main_content" 1fr /
    auto;
}
.main_popup{
  background-color: rgb(30,30,30);
}


.main_content{
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/24/12/food-pineapple-pizza-1.jpg?width=1200");
  background-size: cover;
  /* add a cover for darkness (dfslkmndfsjlkndfsljkndfs) */
  padding: 40px 100px;
  display: grid;
  gap: 20px;
  grid-template: 
    "main_content_actual-content main_content_tooltip" 1fr/
    1fr 300px; 
    /* up to 300px for tooltip */
    /* google min-max you moop */
}

.main_content_actual-content{
  background-color: purple;
  grid-area: main_content_actual-content;
}

.main_content_tooltip{
  background-color: aquamarine;
  grid-area: main_content_tooltip;
  display: grid;
  grid-template: 
    "main_content_tooltip_card" 350px
    "main_content_tooltip_card2" 260px
    "main_content_tooltip_button" minmax(150px, 1fr);
}

.main_content_tooltip_card{
  background-color: white;
  margin-bottom: 10px;
}
.main_content_tooltip_card2{
  background-color: white;
  margin-bottom: 10px;
}

.main_content_tooltip_button{
  background-color: rgb(112, 91, 98);
}
